#wines-page{
	width: 100%;
	height: 780px;
}
#wines-nav{
	position: relative;
	top: 15px;
	float: left;
	width: 25%;
	height: 100%;
	border-right: purple;
}
#catagory span{
	line-height: 2em;
}
#catagory span a{
	color: gray;
	text-decoration: none;
}
#catagory span a:hover{
	color: blue;
	background-color: #ff3300;
	font-size: 1.3em;
	border-radius: 10px;
}
#catagory{
	width: 80%;
	margin: 10px 0;
}
#catagory h3{
	margin: 0 auto;
	background-color: purple;
	color: white;
	border: 1px solid purple;
	border-radius: 5px;
	padding: 10px;
}
#wines-listing{
	width: 75%;
	float: left;
	height: 100%;
}
#wines-listing-items{
	display: block;
	height: 760px;
	width: 100%;
}
#wines-listing-items ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#wines-listing-items p{
	font-size: 20px;
	text-align: center;
}
#wines-listing-items .itemname{
	display: block;
	height: 2em;
	width: 15em;
	font-size: 15px;
	text-align: center;
	border: none;
	padding-top: 10px;
	margin: 20px 0 20px 0;
}
#wines-listing-items ul li{
	display: block;
	float: left;
	width: 33%;
	height: 50%;
}
#wines-listing-items img{
	display: block;
	height: 225px;
	width: 225px;
	margin-right: auto;
	margin-left: auto;
}
.addtocart{
	position: relative;
	background-color: purple;
	padding: 3px;
	color: white;
	border-radius: 5px;
	top: 10px;
}
.addtocart:hover{
	background-color: #ff3300;
	cursor: pointer;
	color: blue;
}
#wines-listing-pagebuttons{
	clear: both;
	height: 5%;
	width: 100%;
}
#wines-listing-pagebuttons .page_box{
	position: relative;
	left: 550px;
}
#wines-listing-pagebuttons .page_box a{
	cursor: pointer;
	padding: 5px;
	border: solid 1px #ccc;
	font-size: 12px;
	background-color: purple;
	color: white;
	border-radius: 5px;
}
